/* Telerik RadAjaxLoadingPanel Skin - Ajax.RadDefault */

.RadAjax_RadDefault .raDiv
{
	background-image: url('RadDefault/spinner_medium.gif');
}

.RadAjax_RadDefault .raColor
{
	background-color: #ffffff;
}

.RadAjax_RadDefault .raTransp
{
	opacity: 0.6;
	-moz-opacity: 0.6;
	filter: alpha(opacity=60);
}