<?xml version="1.0" encoding="utf-8"?>
<repositories>
  <repository path="..\openSourceC.FrameworkLibrary.Core\packages.config" />
  <repository path="..\openSourceC.FrameworkLibrary.Web\packages.config" />
  <repository path="..\openSourceC.FrameworkLibrary.Windows\packages.config" />
  <repository path="..\TestApplication (MVC Web)\packages.config" />
</repositories>