/*
=============================================================================
  FONTS:
=============================================================================
  Per Yahoo! recommendations, specify all font sizes in percentages, which
  render more consistently across browsers, and scale properly when users
  resize text.  Use the chart below to determine the correct percentage to
  use, and only use values from the chart if possible.  Do not use
  pixels (px), points (pt), ems (em), or any other unit.  Ems can be used
  for margins and line heights.

  Pixel  =  Percentage
  --------------------
  10px   =  77%
  11px   =  85%
  12px   =  93%
  13px   =  100%
  14px   =  108%
  15px   =  116%
  16px   =  123.1%
  17px   =  131%
  18px   =  138.5%
  19px   =  146.5%
  20px   =  153.9%
  21px   =  161.6%
  22px   =  167%
  23px   =  174%
  24px   =  182%
  25px   =  189%
  26px   =  197%
*/

html, body, #PageWrapper
{
	margin: 0;
	padding: 0;
	height: auto;
	border: none;
	text-align: center;
}

html
{
	overflow-y: scroll;
}



/*===========================================================================*\
    _SECTION_GLOBAL_TAGS: Defines global styles after YUI reset applied
\*===========================================================================*/

h1{font-size:138.5%}
h2{font-size:123.1%}
h3{font-size:108%}
h1,h2,h3,h4,h5,h6{color:#003366;margin:1em 0px;font-weight:bold}
p+p{margin-top:0.75em}
a{text-decoration:underline}
a:active,a:link,a:visited{color:#003366}
strong{font-weight:bold}
em{font-style:italic}
ul,ol,dl{margin:1em 0 1em 3em}
ol li,ul li{list-style-position:outside}
ol li{list-style-type:decimal}
ul li{list-style-type:disc}
dl dd{margin-left:1em}
th,caption{text-align:center}
th{font-weight:bold}
caption{margin-bottom:0.5em}
textarea{font:normal 100% verdana}
blockquote{margin:0px 18px;}
/*
*/

input.button{cursor:pointer;}



#aspnetForm
{
	height: 100%;
	width: 100%;
}

#PageWrapper
{
	margin: 0 auto;
	text-align: left;
	vertical-align: middle;
	width: 987px;
}


/*===========================================================================*\
    _SECTION_TEXT: Defines classes for displaying various text types
\*===========================================================================*/

.info-text
{
	color: #003366;
	font-weight: bold;
	font-size: 93%;
}
.error-text
{
	color: #ff0000;
	font-weight: bold;
	font-size: 93%;
}
.success-text
{
	color: #009900;
	font-weight: bold;
	font-size: 93%;
}
.help-text
{
	color: #444444;
	font-weight: bold;
	font-size: 85%;
}


/*===========================================================================*\
    _SECTION_HELPERS: Shortcuts to commonly used styles
\*===========================================================================*/

.full, .fullheight {height:100%;}
.full, .fullwidth {width:100%;}
.bold {font-weight:bold;}
.float-left {float:left;}
.float-right {float:right;}
.float-none {float:none;}
.clear-left {clear:left;}
.clear-right {clear:right;}
.clear-both {clear:both;}
.display-none {display:none;}
.display-block {display:block;}
.align-left {text-align:left;}
.align-center {text-align:center;}
.align-right {text-align:right;}
.valign-top {vertical-align:top;}
.valign-middle {vertical-align:middle;}
.valign-bottom {vertical-align:bottom;}
.border-none {border: solid 0px #fff;}
.nowrap{white-space:nowrap;}
.ellipsis{overflow: hidden;text-overflow: ellipsis;}

.nomrg {margin:0;}
.nomrgtop {margin-top:0;}
.nomrgbottom {margin-bottom:0;}
.nomrgright {margin-right:0;}
.nomrgleft {margin-left:0;}

.nopad {padding:0;}
.nopadtop {padding-top:0;}
.nopadbottom {padding-bottom:0;}
.nopadright {padding-right:0;}
.nopadleft {padding-left:0;}

.pt5 {padding-top:5px;}
.pb5 {padding-bottom:5px;}
.pr5 {padding-right:5px;}
.pl5 {padding-left:5px;}
