<?xml version="1.0" encoding="utf-8"?>
<!-- This is the base configuration file that applies to all NuGet enabled projects -->
<configuration>
	<packageRestore>
		<add key="enabled" value="True" />
		<add key="automatic" value="False" />
	</packageRestore>
	<config>
		<add key="repositoryPath" value=".\.packages" />
	</config>
	<solution>
		<add key="disableSourceControlIntegration" value="true" />
	</solution>
</configuration>